TOKEN=
GUILD_ID=
HEARTBEAT_URL=

# Channels
STATUS_CHANNEL_ID=
STATUS_LOG_CHANNEL_ID=
TICKET_LOG_CHANNEL_ID=
ELO_LOG_CHANNEL_ID=

# Roles
SUPPORT_ROLE_ID=
MODERATION_ROLE_ID=
ADMINISTRATION_ROLE_ID=
QUEUE_STOP_PING_ROLE_ID=
